// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 960px;
$desktop-breakpoint: 1280px;

// decoration 
$box-shadow: -1px 3px 5px 3px rgba(14, 75, 148, 0.42);
$border-radius: 12px;
$border-color: rgb(166, 137, 233);
$highlighted-border-color: rgb(137, 227, 233);

// background
$dark-background: #242424;
$light-background: #ffffff;

