.table {
  width: 100%;

  text-align: center;

  border-collapse: collapse;
  border-radius: $border-radius;
}

.headData,
.bodyData {
  border: 1px solid #474747;
  padding: 8px;
}

.bodyData {
  &::first-letter {
    text-transform: capitalize;
  }

  &.points {
    font-weight: bold;
  }

  &.maxPoints {
    color: rgb(161, 224, 141);
  }

  &.minPoints {
    color: rgb(226, 122, 122);
  }
}

.headData {
  background-color: #534c4c;
}
