.section {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $tablet-breakpoint) {
    grid-template-columns: 2fr 1fr;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: 3fr 1fr;
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.statsCard {
  position: sticky;
  top: 50px;

  margin-top: 50px;
}

.buttonWrapper {
  margin: 32px auto;
  width: 250px;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  .headline {
    margin-bottom: 20px;

    text-align: center;
    text-decoration: underline;
    text-decoration-color: $border-color;
  }

  .filterButton {
    max-width: 100px;
    margin-bottom: 20px;
  }
}